test/**
diagram/**
.vscode/**
node_modules/**
!node_modules/yauzl
!node_modules/yauzl/**
!node_modules/pend/LICENSE
!node_modules/pend/README.md
!node_modules/pend/index.js
!node_modules/pend/package.json
coverage/**
.vscode-test.js
.vscode-test/**
*.vsix
*.tar.gz
*.zip
.venv/**
venv/**
**/__pycache__/**
.env*
**/.env*
*.key
**/*.key
*.pem
**/*.pem
*credentials*
**/*credentials*
runtime/**
**/runtime/**
